body{
    background:black;
    color:#a7b9b9;
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.boxes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.key{
    border: 2px solid rgb(53, 255, 83);
    margin: 5px;
    padding: 1%;
    min-width:6%;
    font-size:2rem;
}
kbd{
    display: block;
}
.key span{
    font-size: small;
    text-transform: uppercase;
}
.playing{
    box-shadow: 0 0 12px rgb(81, 255, 0);
    color:rgb(168, 168, 93);
    text-shadow: 0 0 10px rgb(133, 133, 5);
    transition: 150ms;
    transform:scale(1.1);
}